

textarea {
    display: block;
    margin: 0 auto;
    width: 50%;
    box-sizing: border-box;
    border-color:rgb(38, 0, 255);
    border-width: 5px;
    border-style:dashed;

}
button{
    background-color:greenyellow;
    
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
    height: 30px;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(9, 255, 0);
    
}
header{
    text-align: center;
    color: aquamarine;
    padding-bottom: 20px;

}
div{
    margin-top: 20%;
}
body {
    background-color: black;
    padding: 20px;
}
